/* _content/Bizsol.WebERP.UI.Purchase.Test/Component1.razor.rz.scp.css */
.my-component[b-c21liqk8f2] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
