################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.bin
*/FileContentIndex
*/.vs
/.vs
/BizsolERP/Bizsol.WebERP.UI.Shared/obj/Debug/net8.0/Bizsol.WebERP.UI.Shared.AssemblyInfo.cs
