################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/BizSolERP24_APPCore/v17/DocumentLayout.json
