/* _content/Bizsol.WebERP.UI.Sales.Test/Component1.razor.rz.scp.css */
.my-component[b-qlbvhgs87o] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
