
.table-container {
    max-width: 800px;
    margin: auto;
}

th {
    position: relative;
    background-color: #f2f2f2;
    /*min-width: 190px !important;*/
}



.filter-dropdown label {
    display: block;
    margin: 5px 0;
}

.fa-filter {
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    color: #0f0909;
    padding: 5px 0;
}

.checkbox-container label {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.toggle-icon {
    cursor: pointer;
    margin-right: 5px;
    color:#000;
}

.nested-checkbox {
    margin-left: 20px;
    display: none;
}

.filter-dropdown {
    display: none;
    position: absolute;
    background-color: #eff1f5;
    border: 1px solid #ddd;
    padding: 15px;
    top: 26px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 200px;
}

.filter-inputs {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.filter-inputs input {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/*button {
    padding: 4px 8px;
    margin-right: 2px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}*/

/*i {
    margin-left: 0px;
    cursor: pointer;
    color: #555;
}

i:hover {
    color: #007BFF;
}*/

.filter-type {
    margin-bottom: 5px;
}

.filter-dropdown-double {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    padding: 8px;
    width: 215px;
    top: 26px;
}

.filter-dropdown-double label {
    display: block;
    margin: 5px 0;
}

.filter-dropdown-double input[type="text"] {
    /*width: calc(100% - 20px);
    padding: 5px;*/
    margin-bottom: 10px;
}

.checkbox-container-double {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    color: #000;
}

.checkbox-container-double label {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.checkbox-container-double input[type="checkbox"] {
    margin-right: 5px;
}

/*.table-wrapper {
    width: 100%;
    min-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

.fixed-width-table {
    width: 100%;
    border-collapse: collapse;
}*/

/*.table th, .table td {
    padding: 4px 5px;
    border: 1px solid #ddd;
    font-size: 9pt;
}
*/
/*.fixed-width-table thead {
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    z-index: 1;
}*/

.paginator {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 8pt;
}

.paginator button {
    margin: 0 5px;
    padding: 1px 5px;
    cursor: pointer;
}

.page-info {
    margin: 0 15px;
}

.page-size-select {
    margin: 0 15px;
}

/*.btn {
    color: #fff !important;
    padding: 6px !important;
    margin-right: 3px;
}*/

/*.paginator-btn:disabled {
    background-color: #355677;
    color: #a9a9a9;
    cursor: not-allowed;
}*/
.pageSize {
    padding: 3px;
    margin-top: 5px;
}
.filter-division {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: 13px;
    right: -72px;
    background-color: #eff1f5;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgb(34 34 34 / 20%);
    border-radius: 4px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: #000;
}

.dropdown-item {
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}


