/* _content/Bizsol.WebERP.UI.Taxation.Masters/Component1.razor.rz.scp.css */
.my-component[b-3j33u75n6n] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
