/* _content/Bizsol.WebERP.UI.Finance.Masters/Component1.razor.rz.scp.css */
.my-component[b-xubxixdo8l] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
