/* _content/Bizsol.WebERP.UI.Marketing.Tools/Component1.razor.rz.scp.css */
.my-component[b-f6dislblwd] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
