@import '_content/Bizsol.WebERP.UI.Common.Reports/Bizsol.WebERP.UI.Common.Reports.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Common.Tools/Bizsol.WebERP.UI.Common.Tools.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Common.Transactions/Bizsol.WebERP.UI.Common.Transactions.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Finance.Masters/Bizsol.WebERP.UI.Finance.Masters.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Finance.Reports/Bizsol.WebERP.UI.Finance.Reports.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Finance.Tools/Bizsol.WebERP.UI.Finance.Tools.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Finance.Transactions/Bizsol.WebERP.UI.Finance.Transactions.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.HR.Masters/Bizsol.WebERP.UI.HR.Masters.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.HR.Reports/Bizsol.WebERP.UI.HR.Reports.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.HR.Tools/Bizsol.WebERP.UI.HR.Tools.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.HR.Transactions/Bizsol.WebERP.UI.HR.Transactions.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Marketing.Masters/Bizsol.WebERP.UI.Marketing.Masters.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Marketing.Reports/Bizsol.WebERP.UI.Marketing.Reports.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Marketing.Tools/Bizsol.WebERP.UI.Marketing.Tools.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Marketing.Transactions/Bizsol.WebERP.UI.Marketing.Transactions.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Production.Masters/Bizsol.WebERP.UI.Production.Masters.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Production.Reports/Bizsol.WebERP.UI.Production.Reports.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Production.Tools/Bizsol.WebERP.UI.Production.Tools.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Production.Transactions/Bizsol.WebERP.UI.Production.Transactions.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Purchase.Masters/Bizsol.WebERP.UI.Purchase.Masters.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Purchase.Reports/Bizsol.WebERP.UI.Purchase.Reports.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Purchase.Tools/Bizsol.WebERP.UI.Purchase.Tools.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Purchase.Transactions/Bizsol.WebERP.UI.Purchase.Transactions.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Sales.Masters/Bizsol.WebERP.UI.Sales.Masters.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Sales.Reports/Bizsol.WebERP.UI.Sales.Reports.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Sales.Tools/Bizsol.WebERP.UI.Sales.Tools.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Sales.Transactions/Bizsol.WebERP.UI.Sales.Transactions.bundle.scp.css';
@import '_content/Bizsol.WebERP.UI.Common.Masters/Bizsol.WebERP.UI.Common.Masters.bundle.scp.css';

/* _content/BizsolERP/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ahs7tovym7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ahs7tovym7] {
  color: #0077cc;
}

.btn-primary[b-ahs7tovym7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ahs7tovym7], .nav-pills .show > .nav-link[b-ahs7tovym7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ahs7tovym7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ahs7tovym7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ahs7tovym7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ahs7tovym7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ahs7tovym7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
